# Binaries
backend/proisp-api/
backend/proisp-radius/
backend/api
backend/radius
backend/main
backend/bin/
backend/build/
backend/*.backup/
backend/*~HEAD
backend/*.new
backend/*.fixed
backend/*.backup
backend/proisp-api-*
backend/proisp-radius-*

# Frontend
frontend/node_modules/
frontend/dist/

# Environment
.env
*.log
